<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="Background">
        <img src="static/new.png" alt="Background Image">
    </div>
    <div class="Content">
        <div class="YogaFirstFitnessAlways">Yoga First</div>
        <div class="FitnessAlways">Fitness Always</div>
        <div class="text">
            Welcome to YogaBuddy, your premier <br><span>destination for yoga and fitness
            enthusiasts,</span> <br><span>where Fitness meets cutting edge</span><br>
            machine learning technology.
        </div>
        <div class="Button">
            <a href="try_now" class="ButtonContent">Try Now</a>
        </div>
        <div class="Button1">
            <a href="accuracy" class="ButtonContent1">Accuracy Checker</div>
        </div>
    </div>
</body>
</html>
