<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga Poses</title>
</head>
<body>
    <h1>Yoga Poses</h1>
    <div id="poses">
        <select id="pose-select" onchange="displaySelectedPose()">
        </select>
    </div>
    <div id="pose-container">
        <h2 id="pose-name"></h2>
        <img id="pose-image" src="" alt="Yoga Pose">
    </div>

    <script src="static/poses.js"></script>
</body>
</html>